@model  Zero_Web.Models.User
@using Zero_Web.Variable;
@using Zero_Web.Resources.Login;

<head>
    <link href="~/Content/css/Authentification/ConfirmRegistration.css" rel="stylesheet">
    <link href="~/Content/css/Authentification/style.css" rel="stylesheet">
</head>

@{
    ViewBag.Title = "Confirm Registration";
}

<div class="ConfirmRegistrationBackground container-fluid">
    <img class="img-fluid w-100" src="@ImageSource.SVG.Login_Background" />
</div>

<div class="ConfirmRegistrationNav container-fluid d-flex flex-row-reverse pt-5">
    <div class="row float-right pr-5">
        <div class="row">
            <a href="@Url.Action("Login", "Authentification")" class="col-auto">@LanguageHandler.loadDBValueSettings("Login")</a>
            <img class="img-fluid col-md-3" src="~/Content/images/Zero/Logo_White.svg" />
        </div>
        <a href="#">@LanguageHandler.loadDBValueSettings("Back")</a>
    </div>
</div>

<div class="ConfirmRegistration container-fluid pt-5">

    <div class="pb-5 pl-3 pr-3">
        <div class="row justify-content-center">
            <img class="col-auto" src="@ImageSource.SVG.Logo_White" />
        </div>
        <div class="row justify-content-center">
            <p class="col">@LanguageHandler.loadDBValueSettings("ConfirmRegister_Heading")</p>
        </div>

        @using (Html.BeginForm())
        {

            <div class="row pl-5 pr-5 pt-3">
                <!--CHANGE TO CONFIRM KEY-->
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = @Html.NameFor(model => model.Email), maxlength = "100", @class = "col justify-content-center" } })
                @*@Html.ValidationMessageFor(model => model.Email)*@
            </div>

            <div class="row pl-5 pr-5 pt-3">
                <p>@LanguageHandler.loadDBValueSettings("ConfirmRegister_ConfirmText")</p>
            </div>

            <div class="row pl-5 pr-5 pt-3">
                <!--CHANGE TO Check-->
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = @Html.NameFor(model => model.Password), maxlength = "100", @class = "col justify-content-center" } })
                @*@Html.ValidationMessageFor(model => model.Password)*@
            </div>

            <div class="row justify-content-center pt-3 pl-5 pr-5">
                <input class="col" type="submit" value="@LanguageHandler.loadDBValueSettings("CreateAccount")">
            </div>
            
        }

        <div class="row justify-content-center">
            <a class="col">@LanguageHandler.loadDBValueSettings("ConfirmRegister_NewMail")</a>
            <a class="col">@LanguageHandler.loadDBValueSettings("ConfirmRegister_ChangeMail")</a>
        </div>

    </div>

</div>
