<head>
    <link href="~/Content/css/Store/Sale.css" rel="stylesheet">
</head>

@{
    ViewBag.Title = "ZeroWorks - Store";
}

<div class="Sale">

    <!-- Top Image -->
    <div class="TopImage container-fluid">
        <img class="TopGameImage img-fluid w-100" src="~/Content/images/Zero/TopGame.svg" />
        <img class="TopGameBlurrImage img-fluid w-100" src="~/Content/images/Zero/TopImageBlure.svg" />
        <img class="TopGameBlurrImage2 img-fluid w-100" src="~/Content/images/Zero/TopGameBlurr.svg" />
        <div class="GameDescription">
            <p class="BrandNew">Brandneu erschienen</p>
            <p class="Sponsored">Gesponsorter Inhalt</p>
            <b class="SaleName">The Last Of Us 2</b>
            <p class="SaleDescription">"Atmosphärisch, gigantisch und mit einer hinreißenden Story"</p>
            <button class="BuyTopGame">19,99€</button>
            <div class="AddToWishCard">
                <img class="img-fluid" src="~/Content/images/Zero/Add.svg" />
                <p>Auf die Wunschliste</p>
            </div>
            <!--FEHLT-->
        </div>
    </div>

    <!-- Filter Bar -->
    <div class="FilterNav container-fluid">
        <div class="row">
            <p class="FilterItem Action col">Action</p>
            <p class="FilterItem col">Shooter</p>
            <p class="FilterItem col">Abenteuer</p>
            <p class="FilterItem col">Strategy</p>
            <p class="FilterItem col">Survival</p>
            <p class="FilterItem col">Open World</p>
            <p class="FilterItem col">Rollen-Spiel</p>
            <p class="FilterItem col">Horror</p>
            <p class="FilterItem col">FREE</p>
            <p class="FilterItem col">FREE</p>
            <p class="FilterItem col">FREE</p>
        </div>
    </div>

    <!-- Sale Content -->
    <div class="SaleContent container-fluid">

        @{
            @Html.Partial("/Views/Store/Part/ProductList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductScrollList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductScrollList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductDescription.cshtml")
            @Html.Partial("/Views/Store/Part/ProductScrollList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductScrollList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductList.cshtml")
            @Html.Partial("/Views/Store/Part/ProductDescription.cshtml")
        }

    </div>

</div>
