@using Zero_Web.Variable;
@using Zero_Web.database;
@using Zero_Web.Controllers;

<head>
    <link href="~/Content/css/Store/Part/ProductScrollList.css" rel="stylesheet">
</head>

<div class="ProductScrollList container-fluid pt-5 pb-5">
    <div class="Combind container-fluid">
        <div class="List row pl-5 pr-5">

            <div class="ListSide col">
                <div class="row">
                    <b class="Description">Multiplayer Actionspiele, die auch deine Freunde Spielen</b>
                    <div class="container-fluid">
                        <div class="row">
                            <p class="ViewAll">Alle ansehen</p>
                            <img class="Arrow img-fluid" src="@ImageSource.SVG.DropDown" />
                        </div>
                    </div>
                </div>
            </div>

            @{
                for (int i = 0; i < 5; i++)
                {
                    var storeItem = MongoDBManager.Instance.GetRandomStoreItem();
                    <!--while (StoreController.GetAlreadyShown().Contains(storeItem.GameName))
                    {
                        System.Threading.Thread.Sleep(500);
                        storeItem = MongoDBManager.Instance.GetRandomStoreItem();
                    }-->
                    StoreController.GetAlreadyShown().Add(storeItem.GameName);

                    var storeItemPrice = MongoDBManager.Instance.GetStoreItemPrice(storeItem);
                    bool sale = storeItemPrice.price[0].GamePrice == null;

                    if (!sale)
                    {
                        <div class="ScrollItem col">
                            <img class="ProductIcon img-fluid" src="@storeItem.GameImage" />
                            <p class="ProductName pt-3">@storeItem.GameName</p>
                            <p class="Price">@storeItemPrice.price[0].GamePrice</p>
                        </div>
                    }
                    else
                    {
                        <div class="ScrollItem col">
                            <img class="ProductIcon img-fluid" src="@storeItem.GameImage" />
                            <p class="ProductName pt-3">@storeItem.GameName</p>
                            <div class="PriceGroup container-fluid">
                                <div class="row">
                                    <s class="OldPrice col-auto">@storeItemPrice.price[0].PriceOld</s>
                                    <p class="NewPrice col-auto">@storeItemPrice.price[0].PriceNew</p>
                                    <p class="Discount col-auto">@storeItemPrice.price[0].Reduced</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>