@using Zero_Web.database;
@using Zero_Web.Controllers;

<head>
    <link href="~/Content/css/Store/Part/ProductList.css" rel="stylesheet">
</head>

<div class="ProductList container-fluid pt-5 pb-5">
    <div class="Combind container-fluid">
        <div class="ListTopic container-fluid pb-3">
            <div class="row">
                <b class="ListName col-auto pl-5">Angesagt und für dich empfohlen</b>
                <p class="ListInfo col-auto pl-1 pt-2">(Gesponsert)</p>
            </div>
        </div>

        <div class="List row pl-5 pr-5">
            @{
                for (int i = 0; i < 6; i++)
                {
                    var storeItem = MongoDBManager.Instance.GetRandomStoreItem();
                    if (storeItem.ID == null) {
                        continue;
                    }
                    <!--while (StoreController.GetAlreadyShown().Contains(storeItem.GameName))
                    {
                        System.Threading.Thread.Sleep(500);
                        storeItem = MongoDBManager.Instance.GetRandomStoreItem();
                    }-->
                    StoreController.GetAlreadyShown().Add(storeItem.GameName);

                    var storeItemPrice = MongoDBManager.Instance.GetStoreItemPrice(storeItem);
                    bool sale = storeItemPrice.price[0].GamePrice == null;

                    if (!sale)
                    {
                        <div class="Item col-6 col-md-2">
                            <img class="ProductIcon img-fluid" src="@storeItem.GameImage" />
                            <p class="ProductName pt-3">@storeItem.GameName</p>
                            <p class="Price">@storeItemPrice.price[0].GamePrice</p>
                        </div>
                    }
                    else
                    {
                        <div class="Item col-6 col-md-2">
                            <img class="ProductIcon img-fluid" src="@storeItem.GameImage" />
                            <p class="ProductName pt-3">@storeItem.GameName</p>
                            <div class="row">
                                <p class="OldPrice col-auto">@storeItemPrice.price[0].PriceOld</p>
                                <p class="NewPrice col-auto">@storeItemPrice.price[0].PriceNew</p>
                                <p class="Discount col-auto">@storeItemPrice.price[0].Reduced</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>