@using Zero_Web.Variable;
@using Zero_Web.database;
@using Zero_Web.Controllers;

<head>
    <link href="~/Content/css/Store/Part/ProductDescription.css" rel="stylesheet">
</head>

<div class="ProductDescription container-fluid pt-5 pb-5">
    <div class="Combind container-fluid">
        <div class="row pl-5 pr-5">
            @{
                var storeItem = MongoDBManager.Instance.GetRandomStoreItem();
                <!--while (StoreController.GetAlreadyShown().Contains(storeItem.GameName))
                {
                    System.Threading.Thread.Sleep(500);
                    storeItem = MongoDBManager.Instance.GetRandomStoreItem();
                }-->
                StoreController.GetAlreadyShown().Add(storeItem.GameName);

                var storeItemPrice = MongoDBManager.Instance.GetStoreItemPrice(storeItem);
                var storeItemLanguage = MongoDBManager.Instance.GetStoreItemLanguage(storeItem);

                bool sale = storeItemPrice.price[0].GamePrice == null;

                <div class="LeftImage col-auto col-md-6">
                    <img class="DisplayImage w-100 img-fluid" src="@storeItem.GameImage" />
                </div>


                <div class="SideDescription col-auto col-md-6 pt-4">
                    <p class="DescriptionInfo">Für dich empfohlen</p>
                    <b class="AppName">@storeItem.GameName</b>
                    <p class="CompanyName">@storeItem.Publisher</p>
                    <p class="AppDescription">
                        @storeItemLanguage.language[0].ShortDescription
                    </p>
                    <div class="BottomBar container-fluid pt-5">
                        <div class="row">
                            @if (!sale)
                            {
                                <button class="GetApp col-auto col-md-6">@storeItemPrice.price[0].GamePrice</button>
                            }
                            else
                            {
                                <button class="GetApp col-auto col-md-6">@storeItemPrice.price[0].PriceOld | @storeItemPrice.price[0].PriceNew | @storeItemPrice.price[0].Reduced</button>
                            }
                            <img class="Like col-auto col-md-2 img-fluid" src="@ImageSource.SVG.Like" />
                            <img class="Dislike col-auto col-md-2 img-fluid" src="@ImageSource.SVG.Dislike" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
