@using Nav = Zero_Web.Resources.Shared.Nav;
@using NavMenu = Zero_Web.Resources.Shared.NavMenu;
@using Zero_Web.Variable;

<head>
    <link href="~/Content/css/Zero/Nav.css" rel="stylesheet">
</head>

<nav class="navbar sticky-top">

    <div class="NavBar container-fluid">

        <div class="row container-fluid">

            <div class="col-auto">
                <div class="NavLogo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30.045" height="35" viewBox="0 0 30.045 35">
                        <path id="Differenzmenge_231" data-name="Differenzmenge 231" d="M-4073.1,92.718h0l-7.9-4.549v-.048l7.939-4.6V92.7l-.038.022Zm4.14-2.421h0V81.152l7.376-4.27,10.629-6.152v9.037l-18,10.529ZM-4081,83.374h0v-21.1l7.9-4.55.039.023V78.779L-4081,83.373Zm12.04-6.97h0V60.139l13.978,8.175-13.976,8.09Z" transform="translate(4081 -57.718)" fill="#ff3c00" />
                    </svg>
                </div>
            </div>

            <div class="LeftNavSide col">

                <div class="NavLinks container-fluid">

                    <div class="row">
                        <!-- Url.Action("Index", "Store") Nav.LanguageHandler.loadDBValue("StartPage")-->
                        <a class="Console col-auto nav-link" href="#">... Console</a>
                        <a class="Analytics col-auto nav-link" href="#">Analytics & Sales</a>
                        <a class="Advertisment col-auto nav-link" href="#">Advertisment</a>
                        <a class="Admin-Panel col-auto nav-link" href="#">Admin-Panel</a>

                    </div>

                </div>

            </div>

            <div class="col-auto">
                <div class="RightNavSide container-fluid">
                    <div class="row">
                        <div class="Search col-auto">
                            <div class="container-fluid">
                                <div class="row">
                                    <img class="SearchIcon img-fluid col-auto" src="@ImageSource.SVG.Search" />
                                    <input class="SearchBar col-auto" placeholder="@Nav.LanguageHandler.loadDBValue("Search")" />
                                </div>
                            </div>
                        </div>
                        <div class="Info col-auto">
                            <div class="container-fluid">
                                <div class="row">
                                    <img class="InfoIcon img-fluid mb-3" src="@ImageSource.SVG.Info" />
                                </div>
                            </div>
                        </div>
                        <div class="KP col-auto">
                            <div class="container-fluid">
                                <div class="row">
                                    <img class="KPIcon img-fluid mb-3" src="@ImageSource.SVG.Save" />
                                </div>
                            </div>
                        </div>
                        <div class="Settings col-auto">
                            <div class="container-fluid">
                                <div class="row">
                                    <img class="SettingsIcon img-fluid mb-3" src="@ImageSource.SVG.Settings" />
                                </div>
                            </div>
                        </div>
                        <div class="MenuIcon col-auto">
                            <svg onclick="showMenu()" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                                <g id="Gruppe_1983" data-name="Gruppe 1983" transform="translate(-1828.715 -31.715)" opacity="0.7">
                                    <rect id="Rechteck_1913" data-name="Rechteck 1913" width="6" height="6" rx="2" transform="translate(1828.715 31.715)" fill="#fff" />
                                    <rect id="Rechteck_1916" data-name="Rechteck 1916" width="7" height="7" rx="2" transform="translate(1838.715 41.715)" fill="#fff" />
                                    <rect id="Rechteck_1920" data-name="Rechteck 1920" width="6" height="6" rx="2" transform="translate(1839.715 50.715)" fill="#fff" />
                                    <rect id="Rechteck_1921" data-name="Rechteck 1921" width="6" height="6" rx="2" transform="translate(1847.715 42.715)" fill="#fff" />
                                    <rect id="Rechteck_1914" data-name="Rechteck 1914" width="7" height="7" rx="2" transform="translate(1836.715 31.715)" fill="#fff" />
                                    <rect id="Rechteck_1915" data-name="Rechteck 1915" width="7" height="7" rx="2" transform="translate(1828.715 39.715)" fill="#fff" />
                                    <rect id="Rechteck_1917" data-name="Rechteck 1917" width="8" height="7" rx="2" transform="translate(1828.715 49.715)" fill="#fff" />
                                    <rect id="Rechteck_1919" data-name="Rechteck 1919" width="5" height="5" rx="2" transform="translate(1848.715 51.715)" fill="#fff" />
                                    <rect id="Rechteck_1918" data-name="Rechteck 1918" width="7" height="8" rx="2" transform="translate(1846.715 31.715)" fill="#fff" />
                                </g>
                            </svg>
                            <!--<img class="MenuIcon img-fluid" src="~/Content/images/Zero/Menu.svg" />-->
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</nav>


<!-- Zero Menu -->
<div id="NavMenu" class="NavMenu Hide container pt-5 pb-5">

    <div class="container-fluid">

        <div class="row pl-5 pr-5 pb-3">
            <div class="MenuHover col pt-2">
                <div class="container-fluid">
                    <a href="#">
                        <div class="row justify-content-center">
                            <img class="" src="@ImageSource.SVG.Logo" />
                        </div>
                        <div class="row justify-content-center">
                            <p class="NavMenuMarked">@NavMenu.LanguageHandler.loadDBValue("Zero")</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="MenuHover col pt-2">
                <div class="container-fluid">
                    <a href="#">
                        <div class="row justify-content-center">
                            <img class="" src="@ImageSource.SVG.Code" />
                        </div>
                        <div class="row justify-content-center">
                            <p class="NavMenuMarked">@NavMenu.LanguageHandler.loadDBValue("ZeroWorks")</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="MenuHover col pt-2">
                <div class="container-fluid">
                    <a href="https://www.zeroworks.de/">
                        <div class="row justify-content-center">
                            <img class="" src="@ImageSource.SVG.Store" />
                        </div>
                        <div class="row justify-content-center">
                            <p class="NavMenuMarked">@NavMenu.LanguageHandler.loadDBValue("Store")</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pl-5 pr-5 pb-3">
            <div class="MenuHover col pt-2">
                <div class="container-fluid">
                    <a href="#">
                        <div class="row justify-content-center">
                            <img class="" src="@ImageSource.SVG.Settings" />
                        </div>
                        <div class="row justify-content-center">
                            <p class="IconText">@NavMenu.LanguageHandler.loadDBValue("Settings")</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="MenuHover col pt-2">
                <div class="container-fluid">
                    <a href="#">
                        <div class="row justify-content-center">
                            <img class="" src="@ImageSource.SVG.Theme" />
                        </div>
                        <div class="row justify-content-center">
                            <p class="IconText">@NavMenu.LanguageHandler.loadDBValue("Theme")</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="MenuHover col pt-2">
                <div class="container-fluid">
                    <a href="#">
                        <div class="row justify-content-center">
                            <img class="" src="@ImageSource.SVG.Profile" />
                        </div>
                        <div class="row justify-content-center">
                            <p class="IconText">@NavMenu.LanguageHandler.loadDBValue("Account")</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <hr class="Spacer">

    <div class="container-fluid pt-3">

        <div class="row pl-5 pr-5">
            <a href="" class="MenuLink col">@NavMenu.LanguageHandler.loadDBValue("Privacy_policy")</a>
            <a href="" class="MenuLink col">@NavMenu.LanguageHandler.loadDBValue("Imprint")</a>
        </div>

        <div class="row pl-5 pr-5">
            <a href="" class="MenuLink col">@NavMenu.LanguageHandler.loadDBValue("Terms_of_Use")</a>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a href="" class="MenuLink col">@NavMenu.LanguageHandler.loadDBValue("Logout")</a>
                }
            }
        </div>

    </div>

</div>

<!-- Zero Menu Script -->
<script>
    function showMenu() {
        var x = document.getElementById("NavMenu");
        if (x.className.indexOf(" Show") == -1) {
            x.className = x.className.replace(" Hide", " Show");
        } else {
            x.className = x.className.replace(" Show", " Hide");
        }
    }
</script>
