@model  Zero_Web.Models.User
@using Zero_Web.Variable;

<head>
   <link href="~/Content/css/Account/Login.css" rel="stylesheet">
   <link href="~/Content/css/Account/style.css" rel="stylesheet">
</head>

@{
   ViewBag.Title = "Login";
}

<div class="LoginBackground container-fluid">
   <img class="img-fluid w-100" src="~/Content/images/Zero/Login_Background.svg" />
</div>

<div class="Login container-fluid pt-5 rounded">

   <div class="pb-5 pl-3 pr-3">
      <div class="row justify-content-center">
         <img class="col-auto" src="@ImageSource.SVG.Login_Background" />
      </div>
      <div class="row">
         <p class="col">Just one step away from Zero</p>
      </div>

      @using (Html.BeginForm())
      {

         <div class="row pt-3">
            <div class="col">
               @Html.NameFor(model => model.Email)
            </div>
            <div class="col">
               @Html.EditorFor(model => model.Email)
            </div>
            @*@Html.ValidationMessageFor(model => model.Email)*@
         </div>

         <div class="row pt-3">
            <div class="col">
               @Html.NameFor(model => model.Password)
            </div>
            <div class="col">
               @Html.EditorFor(model => model.Password)
            </div>
            @*@Html.ValidationMessageFor(model => model.Password)*@
         </div>

         <div class="row justify-content-center pt-3">
            <input type="submit" value="Login">
         </div>

      }

   </div>

</div>
