@model  Zero_Web.Models.User

@{
    ViewBag.Title = "New Password";
}

<div class="Zero Login">

    <h2>Zero Login</h2>
    <img src="~/Content/images/icons/icon-144x144.png" />

    @using (Html.BeginForm())
    {
        <div class="Zero Password">
            <div class="field">
                <!-- Old Password Filed -->
            </div>
            <div class="field">
                @Html.NameFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)

                @Html.NameFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <button type="submit">Anmelden</button>
        </div>
    }
</div>

<link href="~/Content/css/Account/Login.css" rel="stylesheet">
<link href="~/Content/css/Account/style.css" rel="stylesheet">