<head>
    <link href="~/Content/css/Zero/Nav.css" rel="stylesheet">
</head>

<nav class="navbar sticky-top">

    <div class="NavBar container-fluid">

        <div class="row container-fluid">

            <div class="col-md-1">
                <img class="Logo img-fluid" src="~/Content/images/Zero/Controller.svg" />
            </div>

            <div class="col-md-4">
                <div class="LeftNavSide container">
                    <!--
    <a href="Url.Action("Index", "Client", new { area = "Client" })">Client</a>
    <a href="Url.Action("Index", "Home", new { area = "RestAPI" })">RestAPI</a>
    <a href="Url.Action("Index", "Docs", new { area = "Docs" })">Docs</a>
        nav-link
    -->
                    <a class="Store" href="@Url.Action("Index", "Store")">Startseite</a>
                    <a class="Charts" href="@Url.Action("Charts", "Store")">Trends</a>
                    <a class="ZeroPlus" href="@Url.Action("ZeroPlus", "Store")">Zero +</a>
                    <a class="Sale" href="@Url.Action("Sale", "Store")">Im Angebot</a>
                    <a class="Free" href="@Url.Action("Free", "Store")">Kostenlos</a>
                    <a class="DropDown" onclick="showFilterDropdown()">Filter<img class="DropDownIcon" src="~/Content/images/Zero/DropDown.svg" /></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="RightNavSide container">
                    <div class="Search">
                        <img class="SearchIcon img-fluid" src="~/Content/images/Zero/Seach.svg" />
                        <input class="SearchBar" placeholder="Search something" />
                    </div>
                    <div class="ShoppingCard">
                        <p class="ShoppingCardAmmount">0</p>
                        <img class="img-fluid" src="~/Content/images/Zero/Store.svg" />
                    </div>
                    <img class="MenuIcon img-fluid" src="~/Content/images/Zero/Menu.svg" />
                </div>
            </div>
        </div>

    </div>

</nav>

<div id="FilterNav" class="container-fluid">

    <div class="row">

        <div class="Filter Price_Filter col-md-2">
            <p class="FilterHeading">Preis</p>
            <p><input type="checkbox" />Kostenlos</p>
            <p><input type="checkbox" />unter 10€</p>
            <p><input type="checkbox" />Reduziert</p>
            <p class="FilterHeading">Preisspanne</p>
            <input type="number" min="0" max="10000" step="0.1">
        </div>

        <div class="Filter Sort_Filter col-md-2">
            <p class="FilterHeading">Abstufend auflisten nach</p>
            <p><input type="checkbox" />Nutzerreviews</p>
            <p><input type="checkbox" />Kuratorenreviews</p>
            <p><input type="checkbox" />Downloads</p>
            <p><input type="checkbox" />Gesamtwertung</p>
        </div>

        <div class="Filter Genre_Filter col-md-5">

            <div class="container-fluid">
                <div class="row">

                    <div class="Genre1 col">
                        <p class="FilterHeading">Genres</p>
                        <p><input type="checkbox" />Action</p>
                        <p><input type="checkbox" />Abenteuer</p>
                        <p><input type="checkbox" />MMO</p>
                        <p><input type="checkbox" />Gelegenheitsspiele</p>
                        <p><input type="checkbox" />Indie</p>
                        <p><input type="checkbox" />RPG</p>
                    </div>
                    <div class="Genre2 col">
                        <p><input type="checkbox" />Simulation</p>
                        <p><input type="checkbox" />Sport</p>
                        <p><input type="checkbox" />Strategie</p>
                        <p><input type="checkbox" />Story</p>
                        <p><input type="checkbox" />Shooter</p>
                        <p><input type="checkbox" />Battle Royal</p>
                    </div>
                    <div class="Genre3 col">
                        <p><input type="checkbox" />Rennspiele</p>
                        <p><input type="checkbox" />Jump and Run</p>
                        <p><input type="checkbox" />VR</p>
                        <p><input type="checkbox" />Atmosphäre</p>
                        <p><input type="checkbox" />Singelplayer</p>
                        <p><input type="checkbox" />Multiplayer</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="Filter Date_Filter col-md-2">
            <p class="FilterHeading">Veröffentlichungsdatum</p>
            <p><input type="checkbox" />Brandneue Spiele</p>
            <p><input type="checkbox" />Gesamter Zeitraum</p>
            <p class="FilterHeading">Zeitraum festlegen</p>
            <!--MISSING-->
        </div>

    </div>

</div>

<!-- Filter DropDown -->
<script>
    function showFilterDropdown() {
        //console.log("JasonJT");
        var x = document.getElementById("FilterNav");
        if (x.className.indexOf(" DropdonwNavShow") == -1) {
            x.className += " DropdonwNavShow";
        } else {
            x.className = x.className.replace(" DropdonwNavShow", "");
        }
    }
</script>
