@using Zero_Web.Resources.Shared.Nav;

<head>
    <link href="~/Content/css/Zero/Nav.css" rel="stylesheet">
</head>

<nav class="navbar sticky-top">

    <div class="NavBar container-fluid">

        <div class="row container-fluid">

            <div class="col-md-1">
                <img class="Logo img-fluid" src="~/Content/images/Zero/Controller.svg" />
            </div>

            <div class="LeftNavSide col">
                <!--
        <div class="col-md-4">
                <a href="Url.Action("Index", "Client", new { area = "Client" })">Client</a>
                <a href="Url.Action("Index", "Home", new { area = "RestAPI" })">RestAPI</a>
                <a href="Url.Action("Index", "Docs", new { area = "Docs" })">Docs</a>
                    nav-link
                -->

                <div class="container-fluid">

                    <div class="row">

                        <a class="Store col-sm-2 nav-link" href="@Url.Action("Index", "Store")">@LanguageHandler.loadDBValue("StartPage")</a>
                        <a class="Charts col-sm-2 nav-link" href="@Url.Action("Charts", "Store")">@LanguageHandler.loadDBValue("Charts")</a>
                        <a class="ZeroPlus col-sm-2 nav-link" href="@Url.Action("ZeroPlus", "Store")">@LanguageHandler.loadDBValue("ZeroPlus")</a>
                        <a class="Sale col-sm-3 nav-link" href="@Url.Action("Sale", "Store")">@LanguageHandler.loadDBValue("Sale")</a>
                        <a class="Free col-sm-2 nav-link" href="@Url.Action("Free", "Store")">@LanguageHandler.loadDBValue("Free")</a>
                        <a class="DropDown col-sm-2 nav-link" onclick="showFilterDropdown()">@LanguageHandler.loadDBValue("Filter")<img class="DropDownIcon img-fluid" src="~/Content/images/Zero/DropDown.svg" /></a>
                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="RightNavSide container-fluid">
                    <div class="row">
                        <div class="Search col">
                            <div class="container-fluid">
                                <div class="row">
                                    <img class="SearchIcon img-fluid col" src="~/Content/images/Zero/Seach.svg" />
                                    <input class="SearchBar col" placeholder="@LanguageHandler.loadDBValue("Search")" />
                                </div>
                            </div>
                        </div>
                        <div class="ShoppingCard col">
                            <div class="container-fluid">
                                <div class="row">
                                    <p class="ShoppingCardAmmount col">0</p>
                                    <img class="img-fluid col" src="~/Content/images/Zero/Store.svg" />
                                </div>
                            </div>
                        </div>
                        <div class="MenuIcon col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                                <g id="Gruppe_1983" data-name="Gruppe 1983" transform="translate(-1828.715 -31.715)" opacity="0.7">
                                    <rect id="Rechteck_1913" data-name="Rechteck 1913" width="6" height="6" rx="2" transform="translate(1828.715 31.715)" fill="#fff" />
                                    <rect id="Rechteck_1916" data-name="Rechteck 1916" width="7" height="7" rx="2" transform="translate(1838.715 41.715)" fill="#fff" />
                                    <rect id="Rechteck_1920" data-name="Rechteck 1920" width="6" height="6" rx="2" transform="translate(1839.715 50.715)" fill="#fff" />
                                    <rect id="Rechteck_1921" data-name="Rechteck 1921" width="6" height="6" rx="2" transform="translate(1847.715 42.715)" fill="#fff" />
                                    <rect id="Rechteck_1914" data-name="Rechteck 1914" width="7" height="7" rx="2" transform="translate(1836.715 31.715)" fill="#fff" />
                                    <rect id="Rechteck_1915" data-name="Rechteck 1915" width="7" height="7" rx="2" transform="translate(1828.715 39.715)" fill="#fff" />
                                    <rect id="Rechteck_1917" data-name="Rechteck 1917" width="8" height="7" rx="2" transform="translate(1828.715 49.715)" fill="#fff" />
                                    <rect id="Rechteck_1919" data-name="Rechteck 1919" width="5" height="5" rx="2" transform="translate(1848.715 51.715)" fill="#fff" />
                                    <rect id="Rechteck_1918" data-name="Rechteck 1918" width="7" height="8" rx="2" transform="translate(1846.715 31.715)" fill="#fff" />
                                </g>
                            </svg>
                            <!--<img class="MenuIcon img-fluid" src="~/Content/images/Zero/Menu.svg" />-->
                        </div>
                        <div class="ProfileIcon col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                                <g id="Gruppe_1983" data-name="Gruppe 1983" transform="translate(-1828.715 -31.715)" opacity="0.7">
                                    <rect id="Rechteck_1913" data-name="Rechteck 1913" width="6" height="6" rx="2" transform="translate(1828.715 31.715)" fill="#fff" />
                                    <rect id="Rechteck_1916" data-name="Rechteck 1916" width="7" height="7" rx="2" transform="translate(1838.715 41.715)" fill="#fff" />
                                    <rect id="Rechteck_1920" data-name="Rechteck 1920" width="6" height="6" rx="2" transform="translate(1839.715 50.715)" fill="#fff" />
                                    <rect id="Rechteck_1921" data-name="Rechteck 1921" width="6" height="6" rx="2" transform="translate(1847.715 42.715)" fill="#fff" />
                                    <rect id="Rechteck_1914" data-name="Rechteck 1914" width="7" height="7" rx="2" transform="translate(1836.715 31.715)" fill="#fff" />
                                    <rect id="Rechteck_1915" data-name="Rechteck 1915" width="7" height="7" rx="2" transform="translate(1828.715 39.715)" fill="#fff" />
                                    <rect id="Rechteck_1917" data-name="Rechteck 1917" width="8" height="7" rx="2" transform="translate(1828.715 49.715)" fill="#fff" />
                                    <rect id="Rechteck_1919" data-name="Rechteck 1919" width="5" height="5" rx="2" transform="translate(1848.715 51.715)" fill="#fff" />
                                    <rect id="Rechteck_1918" data-name="Rechteck 1918" width="7" height="8" rx="2" transform="translate(1846.715 31.715)" fill="#fff" />
                                </g>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</nav>

<div id="FilterNav" class="container-fluid">

    <div class="row">

        <div class="Filter Price_Filter col-md-2">
            <p class="FilterHeading">Preis</p>
            <p><input type="checkbox" />Kostenlos</p>
            <p><input type="checkbox" />unter 10€</p>
            <p><input type="checkbox" />Reduziert</p>
            <p class="FilterHeading">Preisspanne</p>
            <input type="number" min="0" max="10000" step="0.1">
        </div>

        <div class="Filter Sort_Filter col-md-2">
            <p class="FilterHeading">Abstufend auflisten nach</p>
            <p><input type="checkbox" />Nutzerreviews</p>
            <p><input type="checkbox" />Kuratorenreviews</p>
            <p><input type="checkbox" />Downloads</p>
            <p><input type="checkbox" />Gesamtwertung</p>
        </div>

        <div class="Filter Genre_Filter col-md-5">

            <div class="container-fluid">
                <div class="row">

                    <div class="Genre1 col">
                        <p class="FilterHeading">Genres</p>
                        <p><input type="checkbox" />Action</p>
                        <p><input type="checkbox" />Abenteuer</p>
                        <p><input type="checkbox" />MMO</p>
                        <p><input type="checkbox" />Gelegenheitsspiele</p>
                        <p><input type="checkbox" />Indie</p>
                        <p><input type="checkbox" />RPG</p>
                    </div>
                    <div class="Genre2 col">
                        <p><input type="checkbox" />Simulation</p>
                        <p><input type="checkbox" />Sport</p>
                        <p><input type="checkbox" />Strategie</p>
                        <p><input type="checkbox" />Story</p>
                        <p><input type="checkbox" />Shooter</p>
                        <p><input type="checkbox" />Battle Royal</p>
                    </div>
                    <div class="Genre3 col">
                        <p><input type="checkbox" />Rennspiele</p>
                        <p><input type="checkbox" />Jump and Run</p>
                        <p><input type="checkbox" />VR</p>
                        <p><input type="checkbox" />Atmosphäre</p>
                        <p><input type="checkbox" />Singelplayer</p>
                        <p><input type="checkbox" />Multiplayer</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="Filter Date_Filter col-md-2">
            <p class="FilterHeading">Veröffentlichungsdatum</p>
            <p><input type="checkbox" />Brandneue Spiele</p>
            <p><input type="checkbox" />Gesamter Zeitraum</p>
            <p class="FilterHeading">Zeitraum festlegen</p>
        </div>

    </div>

</div>

<!-- Filter DropDown -->
<script>
    function showFilterDropdown() {
        //console.log("JasonJT");
        var x = document.getElementById("FilterNav");
        if (x.className.indexOf(" DropdonwNavShow") == -1) {
            x.className += " DropdonwNavShow";
        } else {
            x.className = x.className.replace(" DropdonwNavShow", "");
        }
    }
</script>
